[submodule "site/themes/kiss-em"]
	path = site/themes/kiss-em
	url = https://github.com/pytofu/kiss-em.git
[submodule "site/themes/kiss"]
	path = site/themes/kiss
	url = https://github.com/ribice/kiss.git
